.close-button {
    width: 21px;
    height: 21px;
    background-image: url('../../assets/close-button.png');
    border: none;
    cursor: pointer;

    &:hover {
        background-image: url('../../assets/close-button-hover.png');
    }
}