/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: theme('colors.black-pearl.900');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.black-pearl.800');
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.black-pearl.700');
}
